<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Carousel.css">
    <title>Carousel</title>
</head>

<body>
    <div class="container">
        <button class="btn left-btn"> <img src="img/left-arrow.svg" alt="" height=25px></button>

        <div class="carousel-container">
            <ul class="carousel">
                <li class="slide active"> <img src="img/picture1.jpg" alt=""></li>
                <li class="slide"> <img src="img/picture2.jpg" alt=""></li>
                <li class="slide"> <img src="img/picture3.jpg" alt=""></li>

            </ul>



    </div>



    <script src="Carousel.js"></script>
</body>
</html>